<!DOCTYPE html>
<html lang="en"  ng-app="app">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Question Room</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <link href="css/roomGrid.css" rel="stylesheet">

    <!-- Custom Fonts -->
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:200,400,800|Clicker+Script' rel='stylesheet' type='text/css'>

    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  ng-controller="controller">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="./index.html">
                    <i class="fa fa-play-circle"></i>  <span class="light">Question</span></a>
					<a class="navbar-brand page-scroll" href="#page-top">Room
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
					<li>
                        <a class="page-scroll" href="#rmList">Room</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#feature">Feature</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div id="large-header">
							<canvas id="canvas" ></canvas>
								<div class="main-title">
									<h1>Ask. Here</h1>
						
							<form name="form" ng-submit="join()" role="search">
								<input type="text" name = "input" class="form-control large" id = "inputRoomName"
								ng-model="example.text"
								ng-pattern="example.word" required
								ng-trim="false"
								autofocus
								aria-describedby="sizing-addon1"
								placeholder="Room name">
								<a href="#" class="btn btn-lg btn-default"
								ng-click="join()"
								>Join</a>
								<a href="#rmList" class="page-scroll btn btn-lg btn-default"
								>Suggestion</a>
							</form>
						



						</div>
									
									
								</div>
            </div>
        </div>
    </header>

	<!-- roomlist Section-->

	<section id="rmList" class="container-fluid content-section text-center" style="background-color:#f3f3f3">
	<div class="container" style="margin-bottom: 100px;">
    <h1 style="color:#333">Room List</h1>
    <div id="roomGrid" class="row text-center">

    </div>
	<br>
	<br>
	</div>
	</section>

    <!-- Feature Section -->
    <section id="feature" class="container content-section text-center">
        <div class="row">
            <div>
                <h1>Feature</h1>       
				<ul class="col-xs-12 col-lg-6 featureList" >
				<li>
				<h3>Milestone1 (Minor improvements)</h3>
				</li>
				<li>
                UI Design and Implementation
				</li>
				<li>
                Question DateTime
				</li>
				<li>
                Dynamic Room List
				</li>
				<li>
                Dislike Button
				</li>
				<li>
                Simple Login
				</li>
				<li>
				Bug Fix
				</li>
				</ul>
				
				<ul class="col-xs-12 col-lg-6 featureList">
				<li>
				<h3>Milestone2 (Major improvements)</h3>
				</li>
				<li>
                Hashtag (eg. Question Topic #tag1 #tag2 #tag3)
				</li>
				<li>
                Grouping Most Frequent Hashtag
				</li>
				<li>
                Question Sorting
				</li>
				<li>
                Question Reply 
				</li>
				<li>
                Youtube Preview
				</li>
				<li>
				Image Upload
				</li>
				<li>
                Support Emoji
				</li>
				<li>
				Start Guide
				</li>
				</ul>
            </div>
        </div>
    </section>



    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; love!sung</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>


    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>
	
	        <script src="js/rAF.js"></script>
        <script src="js/canvas.js"></script>
		
					<!-- 1.4.2 -->
			<script src="js/angular.min.js"></script>
			
		<script>
			angular.module('app', [])
			.controller('controller', ['$scope', '$location', '$window', function($scope, $location, $window) {
				$scope.example = {
					text: '',
					word: /^\s*\w*\s*$/
				};

				$scope.join = function () {
                    var validName = ["comp", "chem", "acct", "hlth", "huma", "lifs", "sbmt", "ceng", "civl", "elec", "ielm", "mech", "scie"];
                    var inputStr = "" + $("#inputRoomName").val();
                    var inputPrefix = inputStr.substring(0,4).toLowerCase();
                    var inputSubfix = inputStr.substring(4);
                    var isPrefixValid = false;
                    var isSubfixValid = false;

                    if(inputStr.length == 8 && inputPrefix.length == 4){
                        for(var i=0; i < validName.length; ++i){
                            if( inputPrefix == validName[i] ){
                                isPrefixValid = true;
                                break;
                            }
                        }
                        isSubfixValid = !isNaN(inputSubfix);
                    }

                    if(isPrefixValid && isSubfixValid)
                            $window.location.href = 'question.html#/' + $scope.example.text;
                    else{
                       $("#inputRoomName").val("");
                        alert("Sorry, room name is not support yet!\n\nMake sure your input format is like: comp3111\n\nWe support comp, chem, acct, hlth, huma, lifs, sbmt, ceng, civl, elec, ielm, mech, scie for now!");
                    }

				}
			}]);
		</script>
        <script src="js/mainPage.js">></script>

</body>

</html>
